<div class="side">
<!-- Custom Messages--> 
<div ng-show="wrngs.successMsg" class="msg2">{{wrngs.successMsg}}</div>
<div ng-show="wrngs.errorMsg" class="msg1">{{wrngs.errorMsg}}</div>

<!-------------------- Warning list ------------------------------>
<table ng-show="wrngs.lst.length" name="warnings list" class="table">
 <tr>
	<th name='col1' width=30px>No.</th>
	<th name='col2' width=45px>Sensor ID</th>
	<th name='col3' width=150px>Location</th>
	<th name='col4' width=80px>Date and time</th>
	<th name='col5' width=150px>Message</th>
	<th width=75px>
	<select style="width:65px;padding:0px" ng-model="status" ng-options ="l as l for l in wrngs.sts">
	<option value="">Status</option>
	</select>
	</th>
	<th width=60px>Action</th>
	</tr>
	<tr ng-repeat="wrn in wrngs.lst | filter:(!!status || undefined) && {act : status}">
	<td name='col1'>{{wrn._id}}</td>
	<td name='col2'>{{wrn.snr_id}}</td>
	<td name='col3'>{{wrn.loc}}</td>
	<td name='col4'>{{wrn.createdAt | date:"medium"}}</td>
	<td name='col5'>{{wrn.msg}}</td>
	<td ng-if="wrn.act == 'Active'" class='invalid'>{{wrn.act}}</td>
	<td ng-if="wrn.act == 'Inspection'" bgcolor='#ff5a00'>{{wrn.act}}</td>
	<td ng-if="wrn.act == 'Fixed'" bgcolor='#00FF00'>{{wrn.act}}</td>
	<td><input class="btn" name="action_btn" type='submit' value="Actions" ng-click="wrngs.action(wrn)"/></td>
	</tr>
</table>


<!-- This is temp to insert warnings in the db
<div>
<p>Insert data to warnings db</p>
<input placeholder="Snr id" required ng-model="wrngs.data.snr_id" />
<input placeholder="Snr SIM no. +44" pattern="^\+[4][4][7]\d{9}$" required ng-model="wrngs.data.simNu" />
<input placeholder="loc" required ng-model="wrngs.data.loc" />
<input placeholder="msg" required ng-model="wrngs.data.msg" />
<input placeholder="Status" list="stat" required ng-model="wrngs.data.act" />
  <datalist id="stat">
	<option>Active</option>
	<option>Inspection</option>
	<option>Fixed</option>
  </datalist>

<input type='submit' value='submit' ng-click="wrngs.add(data)"/>
</div>

-->

<!-------------------- photo section ------------------------------>
<p>Photograph section</p>
<div ng-show="wrngs.errorMsg2" class="msg2">{{wrngs.errorMsg2}}</div>
<p>Select a sensor</p>
    <select ng-model="wrngs.snrid" ng-options="item._id for item in wrngs.lst2">
        <option value='' label="Select a sensor"></option>
    </select>
    <input class='btn' type='submit' value='Load photos' ng-click="wrngs.snrs(snrid,$event)"/>

<!--
<div>
<p>Upload photos</p>
<input placeholder="Camera SIM no. +44" pattern="^\+[4][4][7]\d{9}$" required ng-model="wrngs.data.simNu" />
<input placeholder="url" required ng-model="wrngs.data.url" />
<input placeholder="Direction" list="dir" required ng-model="wrngs.data.dir" />
  <datalist id="dir">
	<option>Front</option>
	<option>Side</option>
  </datalist>
<input class='btn' type='submit' value='submit' ng-click="wrngs.upload(data)"/>
</div>
-->	
<section ng-show="wrngs.lst3" class="warpper">
<h3>Front camera</h3>
<div class="imgs">
<div ng-repeat="photo1 in wrngs.lst3">
<div ng-if="photo1.dir == 'Front'">
<a href = '{{photo1.url}}' data-lightbox="mygallery1" data-title="{{photo1.createdAt | date}}"><img src='{{photo1.url}}' /></img></a>
</div>
</div>
</div>
<br><br><br>
<h3>Side camera</h3>
<div class="imgs">
<div ng-repeat="photo2 in wrngs.lst3">
<div ng-if="photo2.dir == 'Side'">
<a href = '{{photo2.url}}' data-lightbox="mygallery2" data-title="{{photo2.createdAt | date}}"><img src='{{photo2.url}}' /></img></a>
</div>
</div>
</div>
</section>

</div>
<div class="map" id="map">
</div>