/* Setup for actions page print*/
@page {
	margin: 0mm;
}

body
{
	margin: 53mm 5mm 20mm 5mm;
}

@media print {
thead {display: table-header-group} 
tfoot {display: table-footer-group}
header.onlyprint {
	position: fixed; /* Display only on print page (each) */
	top: 0; /* Because it's header */
	margin:0;
    }
footer.onlyprint {
	position: fixed;
    bottom: 0; /* Because it's footer */
	margin:0;
    }
.noprint{display: none}
.wrns1{top: 200px}  
}
